In [1]:
import pandas as pd
import numpy as np

In [55]:
#Loading dataset

df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [59]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [61]:
#part1

#Group Numeric Variable by Species
grouped_stats = df.groupby("Species")["PetalLengthCm"].agg(
    Mean="mean",
    Median="median",
    Minimum="min",
    Maximum="max",
    Standard_Deviation="std"
)

grouped_stats

                  Mean  Median  Minimum  Maximum  Standard_Deviation
Species
Iris-setosa      1.464    1.50      1.0      1.9            0.173511
Iris-versicolor  4.260    4.35      3.0      5.1            0.469911
Iris-virginica   5.552    5.55      4.5      6.9            0.551895

In [62]:
#Summary Statistics for All Numeric Variables


all_numeric_stats = df.groupby("Species").agg(
    ["mean", "median", "min", "max", "std"]
)

all_numeric_stats

                    Id                            SepalLengthCm              \
                  mean median  min  max       std          mean median  min
Species
Iris-setosa       25.5   25.5    1   50  14.57738         5.006    5.0  4.3
Iris-versicolor   75.5   75.5   51  100  14.57738         5.936    5.9  4.9
Iris-virginica   125.5  125.5  101  150  14.57738         6.588    6.5  4.9

                                ... PetalLengthCm                             \
                 max       std  ...          mean median  min  max       std
Species                         ...
Iris-setosa      5.8  0.352490  ...         1.464   1.50  1.0  1.9  0.173511
Iris-versicolor  7.0  0.516171  ...         4.260   4.35  3.0  5.1  0.469911
Iris-virginica   7.9  0.635880  ...         5.552   5.55  4.5  6.9  0.551895

                PetalWidthCm
                        mean median  min  max       std
Species
Iris-setosa            0.244    0.2  0.1  0.6  0.107210
Iris-versicolor        1.326    1.3  1.0  1.8  0.197753
Iris-virginica         2.026    2.0  1.4  2.5  0.274650

[3 rows x 25 columns]

In [63]:
#Create List Containing Numeric Values for Each Category

petal_length_by_species = {}

for species in df["Species"].unique():
    petal_length_by_species[species] = df[df["Species"] == species]["PetalLengthCm"].tolist()

petal_length_by_species

{'Iris-setosa': [1.4,
  1.4,
  1.3,
  1.5,
  1.4,
  1.7,
  1.4,
  1.5,
  1.4,
  1.5,
  1.5,
  1.6,
  1.4,
  1.1,
  1.2,
  1.5,
  1.3,
  1.4,
  1.7,
  1.5,
  1.7,
  1.5,
  1.0,
  1.7,
  1.9,
  1.6,
  1.6,
  1.5,
  1.4,
  1.6,
  1.6,
  1.5,
  1.5,
  1.4,
  1.5,
  1.2,
  1.3,
  1.5,
  1.3,
  1.5,
  1.3,
  1.3,
  1.3,
  1.6,
  1.9,
  1.4,
  1.6,
  1.4,
  1.5,
  1.4],
 'Iris-versicolor': [4.7,
  4.5,
  4.9,
  4.0,
  4.6,
  4.5,
  4.7,
  3.3,
  4.6,
  3.9,
  3.5,
  4.2,
  4.0,
  4.7,
  3.6,
  4.4,
  4.5,
  4.1,
  4.5,
  3.9,
  4.8,
  4.0,
  4.9,
  4.7,
  4.3,
  4.4,
  4.8,
  5.0,
  4.5,
  3.5,
  3.8,
  3.7,
  3.9,
  5.1,
  4.5,
  4.5,
  4.7,
  4.4,
  4.1,
  4.0,
  4.4,
  4.6,
  4.0,
  3.3,
  4.2,
  4.2,
  4.2,
  4.3,
  3.0,
  4.1],
 'Iris-virginica': [6.0,
  5.1,
  5.9,
  5.6,
  5.8,
  6.6,
  4.5,
  6.3,
  5.8,
  6.1,
  5.1,
  5.3,
  5.5,
  5.0,
  5.1,
  5.3,
  5.5,
  6.7,
  6.9,
  5.0,
  5.7,
  4.9,
  6.7,
  4.9,
  5.7,
  6.0,
  4.8,
  4.9,
  5.6,
  5.8,
  6.1,
  6.4,
  5.6,
  5.1,
  5.6,
  6.1,
  5.6,
  5.5,
  4.8,
  5.4,
  5.6,
  5.1,
  5.1,
  5.9,
  5.7,
  5.2,
  5.0,
  5.2,
  5.4,
  5.1]}

In [64]:
species_list = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [65]:
#Mean, Standard Deviation, and Percentiles

for species in species_list:
    print("\n====================================")
    print(f"Statistical Details for {species}")
    print("====================================")
    
    species_data = df[df['Species'] == species]
    numeric_columns = species_data.select_dtypes(include=np.number)
    
    print("\nMean:")
    print(numeric_columns.mean())
    
    print("\nStandard Deviation:")
    print(numeric_columns.std())
    
    print("\nPercentiles (25%, 50%, 75%):")
    print(numeric_columns.quantile([0.25, 0.50, 0.75]))

====================================
Statistical Details for Iris-setosa
====================================

Mean:
Id               25.500
SepalLengthCm     5.006
SepalWidthCm      3.418
PetalLengthCm     1.464
PetalWidthCm      0.244
dtype: float64

Standard Deviation:
Id               14.577380
SepalLengthCm     0.352490
SepalWidthCm      0.381024
PetalLengthCm     0.173511
PetalWidthCm      0.107210
dtype: float64

Percentiles (25%, 50%, 75%):
         Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.25  13.25            4.8         3.125          1.400           0.2
0.50  25.50            5.0         3.400          1.500           0.2
0.75  37.75            5.2         3.675          1.575           0.3

====================================
Statistical Details for Iris-versicolor
====================================

Mean:
Id               75.500
SepalLengthCm     5.936
SepalWidthCm      2.770
PetalLengthCm     4.260
PetalWidthCm      1.326
dtype: float64

Standard Deviation:
Id               14.577380
SepalLengthCm     0.516171
SepalWidthCm      0.313798
PetalLengthCm     0.469911
PetalWidthCm      0.197753
dtype: float64

Percentiles (25%, 50%, 75%):
         Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.25  63.25            5.6         2.525           4.00           1.2
0.50  75.50            5.9         2.800           4.35           1.3
0.75  87.75            6.3         3.000           4.60           1.5

====================================
Statistical Details for Iris-virginica
====================================

Mean:
Id               125.500
SepalLengthCm      6.588
SepalWidthCm       2.974
PetalLengthCm      5.552
PetalWidthCm       2.026
dtype: float64

Standard Deviation:
Id               14.577380
SepalLengthCm     0.635880
SepalWidthCm      0.322497
PetalLengthCm     0.551895
PetalWidthCm      0.274650
dtype: float64

Percentiles (25%, 50%, 75%):
          Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.25  113.25          6.225         2.800          5.100           1.8
0.50  125.50          6.500         3.000          5.550           2.0
0.75  137.75          6.900         3.175          5.875           2.3