In [3]:
import pandas as pd
import numpy as np

In [5]:
#Loading dataset

df = pd.read_csv("shopping_data.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [35]:
#Group Numeric Variable by Gender
grouped_stats = df.groupby("Genre")["Annual Income (k$)"].agg(
    Mean="mean",
    Median="median",
    Minimum="min",
    Maximum="max",
    Standard_Deviation="std"
)

grouped_stats

             Mean  Median  Minimum  Maximum  Standard_Deviation
Genre
Female  59.250000    60.0       16      126           26.011952
Male    62.227273    62.5       15      137           26.638373

In [37]:
#Summary Statistics for All Numeric Variables


all_numeric_stats = df.groupby("Genre").agg(
    ["mean", "median", "min", "max", "std"]
)

all_numeric_stats

        CustomerID                                   Age                 \
              mean median min  max        std       mean median min max
Genre
Female   97.562500   94.5   3  197  58.276412  38.098214   35.0  18  68
Male    104.238636  106.5   1  200  57.483830  39.806818   37.0  18  70

                  Annual Income (k$)                             \
              std               mean median min  max        std
Genre
Female  12.644095          59.250000   60.0  16  126  26.011952
Male    15.514812          62.227273   62.5  15  137  26.638373

       Spending Score (1-100)
                         mean median min max       std
Genre
Female              51.526786   50.0   5  99  24.11495
Male                48.511364   50.0   1  97  27.89677

In [39]:
#Create List Containing Numeric Values for Each Category

petal_length_by_species = {}

for species in df["Genre"].unique():
    petal_length_by_species[species] = df[df["Genre"] == species]["Annual Income (k$)"].tolist()

petal_length_by_species

{'Male': [15,
  15,
  19,
  19,
  20,
  20,
  21,
  23,
  24,
  24,
  25,
  28,
  28,
  30,
  33,
  33,
  38,
  39,
  42,
  43,
  43,
  44,
  46,
  46,
  46,
  48,
  48,
  48,
  49,
  54,
  54,
  54,
  54,
  54,
  54,
  54,
  59,
  60,
  60,
  61,
  61,
  62,
  62,
  62,
  63,
  63,
  63,
  63,
  64,
  67,
  69,
  71,
  71,
  71,
  71,
  71,
  71,
  73,
  73,
  74,
  75,
  77,
  77,
  77,
  78,
  78,
  78,
  78,
  78,
  81,
  85,
  86,
  87,
  87,
  87,
  87,
  87,
  88,
  88,
  93,
  93,
  98,
  99,
  101,
  113,
  126,
  137,
  137],
 'Female': [16,
  16,
  17,
  17,
  18,
  18,
  19,
  19,
  20,
  20,
  21,
  23,
  25,
  28,
  28,
  29,
  29,
  30,
  33,
  33,
  34,
  34,
  37,
  37,
  38,
  39,
  39,
  39,
  40,
  40,
  40,
  40,
  42,
  43,
  43,
  44,
  46,
  47,
  47,
  48,
  48,
  48,
  49,
  50,
  50,
  54,
  54,
  54,
  54,
  54,
  57,
  57,
  58,
  58,
  59,
  60,
  60,
  60,
  60,
  62,
  62,
  62,
  63,
  63,
  64,
  65,
  65,
  65,
  65,
  67,
  67,
  67,
  69,
  70,
  70,
  72,
  72,
  73,
  73,
  74,
  75,
  76,
  76,
  77,
  78,
  78,
  78,
  78,
  78,
  78,
  78,
  79,
  79,
  81,
  85,
  86,
  87,
  88,
  88,
  97,
  97,
  98,
  99,
  101,
  103,
  103,
  103,
  103,
  113,
  120,
  120,
  126]}

In [41]:
species_list = ['Male','Female']

In [43]:
#Mean, Standard Deviation, and Percentiles

for species in species_list:
   
    print(f"Statistical Details for {species}")
   
    
    species_data = df[df['Genre'] == species]
    numeric_columns = species_data.select_dtypes(include=np.number)
    
    print("\nMean:")
    print(numeric_columns.mean())
    
    print("\nStandard Deviation:")
    print(numeric_columns.std())
    
    print("\nPercentiles (25%, 50%, 75%):")
    print(numeric_columns.quantile([0.25, 0.50, 0.75]))

Statistical Details for Male

Mean:
CustomerID                104.238636
Age                        39.806818
Annual Income (k$)         62.227273
Spending Score (1-100)     48.511364
dtype: float64

Standard Deviation:
CustomerID                57.483830
Age                       15.514812
Annual Income (k$)        26.638373
Spending Score (1-100)    27.896770
dtype: float64

Percentiles (25%, 50%, 75%):
      CustomerID    Age  Annual Income (k$)  Spending Score (1-100)
0.25       59.50  27.75                45.5                    24.5
0.50      106.50  37.00                62.5                    50.0
0.75      151.25  50.50                78.0                    70.0
Statistical Details for Female

Mean:
CustomerID                97.562500
Age                       38.098214
Annual Income (k$)        59.250000
Spending Score (1-100)    51.526786
dtype: float64

Standard Deviation:
CustomerID                58.276412
Age                       12.644095
Annual Income (k$)        26.011952
Spending Score (1-100)    24.114950
dtype: float64

Percentiles (25%, 50%, 75%):
      CustomerID   Age  Annual Income (k$)  Spending Score (1-100)
0.25       46.75  29.0               39.75                    35.0
0.50       94.50  35.0               60.00                    50.0
0.75      148.25  47.5               77.25                    73.0